- content_for :head do
  = javascript_include_tag '/javascripts/game.js'
  = javascript_include_tag "/javascripts/#{@game.current_state.data.game_type}.js"
#nav
%canvas#canvas{:width => "300", :height => "300"}
%input#quit{:type => "button", :value => "Quit game"}
%script{:type => 'text/javascript'}
  ="game_id = #{@game.id};"
  - if params['turn_id']
    ="current_turn = #{params['turn_id']};"
  ="player_name = '#{@player.name}';"
