<!DOCTYPE html>
<html>
<head>
  <title>Dc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
<%= render :partial => '/shared/flash' %>

<%= yield %>

</body>
</html>
